/* Large devices (Laptops, Desktops) */
@media screen and (min-width: 1057px) and (max-width: 1440px) {
    /*Hidden Sections*/
    .cartpadd,
    .hero-container .col-1,
    .edaccpd,
    #newsgroup .col-1 {
        display: none;
    }

    /* BASE TEMPLATE */
    .navleft a {
        padding: 25px 7px;
    }
    .navleft h4 {
        font-size: 24px;
    }

    /* HOME TEMPLATE */
    .hero {
        margin-top: 5%;
    }
    #heroimg {
        max-width: 100%;
        height: auto;
    }
    #socialsect {
        margin-top: 2rem;
        padding-left: 0;
    }
    #socialsect .col {
        display: flex;
        justify-content: center;
    }
   .socialproof {
        padding: 1rem;
    }
   .socialproof h5 {
        padding: 0;
    }
   .newstitle {
        margin-bottom: 3rem;
    }

   /* LOGIN STYLING */
   .logreg {
        margin-left: 100px;
    }

    /* REGISTER STYLING */
    .registerbtn {
        align-self: center;
        margin-left: 0;
        width: 100%;
    }

    /* ACCOUNT STYLING */
    .accbtn {
        margin: 2rem 5rem;
    }
    .accbtcont {
        display: flex;
        justify-content: center;
    }

    /* EDIT ACCOUNT STYLING */
    .editaccounttxt {
        display: flex;
        justify-content: center;
    }
    .editaccounttxt form {
        width: 50%;
    }
    .editbtn {
        margin: 1rem auto; 
        display: flex;
        justify-content: center;
    }
    .contactform {
        width: 100%;
    }

    /*SHOP STYLING*/
    .shoporg {
        justify-content: space-between;
        padding-left: 5px;
    }
    .filtersection {
        margin-top: 10px;
    }
    .shoptop {
        margin-bottom: 6px;
        padding-right: 0;
        width: 400px;
        display: flex;
        align-items: flex-end;
    }
    .sortmenu {
        margin-top: 18px;
    }
    #clearbutton {
        float: right;
        width: 55px;
        padding: 2px 0 0;
        margin-right: 14px;
    }
    
    /*PRODUCT PAGE*/
    #prodimg {
        width: 100%;
        height: auto;
        margin: 1rem 0 2rem 0;
    }
    #prodtitle {
        margin: 0;
    }
    .prodinfo,
    .prodinfofl {
        margin: 0;
    }
    .prodprice,
    .prodmininfo {
        text-align: center;
        margin-bottom: 0;
    }
    #quantbutt {
        margin: 0 auto;
    }
    #prodbotbut {
        margin-left: 10%;
    }
    #prodbasket,
    #prodwishadd {
        margin-top: 14px;
        margin-bottom: 20px;
    }

    /*CART STYLING*/
    .productnm {
        margin-bottom: 16px;
    }
    .vitamin {
        margin-bottom: 12px;
    }
    .prodmininfo {
        margin: auto;
    }
    .quantityblock {
        width: 160px;
    }
    .carttotal {
        justify-content: space-around;
        margin: auto;
    }
    .checksect {
        margin-bottom: 1rem;
    }
    .checkout {
        margin: auto;
    }

    /* WISHLIST STYLING */
    .wishpadd {
        width: 10%;
    }
    .wishbox {
        display: flex;
        justify-content: flex-end;
    }
    .wishright {
        padding: 0;
    }

    /*UPDATE PRODUCTS STYLING*/
    #updateform input {
        width: 362px;
        margin: 16px auto;
    }
}