/* Small devices*/
@media screen and (max-width: 485px) {
    /* Hidden sections*/
    .navleft,
    .navright,
    .midmenu-icon,
    .mobile-acc-icon,
    .desklogo,
    .newslabel h3,
    .wishinfo,
    .wishright,
    .witem-price,
    .wishbox,
    .prodmininfo,
    .cartamount,
    .remove h3,
    .cartinfo,
    .cartbox,
    .midscreen,
    #prodbasket h3
    .colpadd {
        display: none;
    }
    /*Shown Sections*/
    .mobwishbox,
    .mobcartbox {
        display: initial;
        padding: 0;
    }

    /* BASE TEMPLATE */
    body {
        font-family: Zain;
        background-color:#EFE8FB;
        height: 100%;
    }
    .no-padding-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow-x: hidden;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .col {
        width: 100%;
        text-align: center;
    }
    .padd {
        margin: 0;
    }
    header {
        z-index: 99;
    }
    .container-fluid {
        z-index: 1;
    }
    .ygtitle {
        margin-top: 30px;
        font-size: 49px;
    }
    .moblogo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo {
        margin: 10px auto;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 1.2rem;
        left: 1rem;
        cursor: pointer;
        font-size: 2rem;
        color: #B8C6F4;
        width: 10%;
        padding: 0;
    }
    .mobile-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 100%;
        background-color: #282566;
        text-align: center;
        padding: 1rem 0;
    }
    .mobile-nav a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #B8C6F4;
        font-weight: 600;
        font-size: 31px;
    }
    .mobile-nav a:hover {
        background-color: #B8C6F4;
        color: #282566;
    }
    .mobile-nav.active {
        display: flex;
    }
    .mobile-cart-icon {
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        cursor: pointer;
        color: #B8C6F4;
        width: 10%;
        padding: 0;
    }
    .mobile-cart-icon img {
        width: 40px;
        height: 40px;
    }
    footer {
        text-align: center;
        padding: 2rem 0;
    }
    .footleft a, .footright a {
        margin-top: 1rem;
    }
    #btmlogo img {
        margin-top: 20px;
        height: 50px;
    }
    .footsocial {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .footsocial img {
        width: 30px;
        height: 30px;
    }  

    /*HOME STYLING*/
    .hero {
        text-align: center;
        position: relative;
        z-index: 3;
    }
    .hero h3 {
        font-size: 24px;
        font-weight: 700;
        width: 70%;
        color: #282566;
    }
    .hero-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        overflow: hidden;
    }
    .hero-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        opacity: 0.2;
    }
    #homeshop {
        margin-bottom: 20px;
    }
    #socialsect {
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .socialproof {
        min-width: 320px;
        max-width: 575px;
        align-self: center;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .socialproof h4 {
        margin-bottom: 40px;
    }
    .socialproof h5 {
        margin-bottom: 0;
        padding-bottom: 8px;
    }
    .newstitle {
        font-size: 39px;
        margin: 20px 0 0;
        text-align: center;
    }
    .newslabel h3
    .newsect {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .newsline {
        display: flex;
        justify-content: center;
        gap: 0; 
        width: 100%;
    }
    #newsform {
        font-size: 15px;
        border-radius: 10px 0 0 10px;
        border: 1px solid #10042F;
        margin: 0;
    }
    .newssend {
        border: none;
        border-radius:0 10px 10px 0;
        background-color:#10042F;
        width: 5rem;
        font-size: 19px;
        font-weight: 700;
        color: #6388EA;
        text-align: center;
        padding: 0;
        height: 40.5px;
    }
    
    /* LOGIN STYLING */
    #logincont {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }
    .loginform input {
        width: 100%;
    }
    .loginbtn {
        width: 60%;
        height: 4rem;
    }
    .loginbtn input {
        font-size: 39px;
    }
    .logreg {
        margin: 1rem 0;
        text-align: center;
    }

    /* REGISTRATION STYLING */
    .form-group {
        width: 90%;
        margin: auto;
    }
    .registerbtn {
        margin: auto;
    }
    /* ACCOUNT STYLING */
    .accinfo {
        margin-top: 2rem;
    }
    .infocont {
        display: flex;
        flex-direction: row;
    }
    .accountlbl,
    .accounttxt {
        padding: 0;
        width: 80%;
    }
    .accountlbl {
        margin-left: 10%;
    }
    .accounttxt {
        margin-right: 10%;
    }
    .accountlbl h2,
    .accounttxt h2 {
        font-size: 24px;
        padding: 0;
    }
    .acctbtngroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0;
    }
    .accbtn {
        text-decoration: none;
        border-radius: 10px;
        background-color:#10042F;
        width: 8rem;
        height: 3rem;
        color: #6388EA;
        margin: 1rem auto;
    }
    .accbtn h3 {
        font-weight: 700;
        margin-top: 10px;
        font-size: 24px;
    }

    /* EDIT ACCOUNT STYLING */
    .editaccounttxt {
        width: 90%;
        margin: .5rem auto;
    }
    .editbtn {
        margin: 1rem auto;
    }

    /* CONTACT STYLING */
    .form-control-lg {
        width: 95%;
        margin: auto;
    }

    /* SHOP STYLING */
    .shoptop {
        display: flex;
        justify-content: center;
    }
    #shopsearch {
        font-size: 19px;
    }
    #searchbtn {
        height: 41.83px;
        width: 41px;
    }
    .shoporg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        position: relative;
    }
    #filterButton {
        display: initial;
        height: 40px;
        width: 110px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #B8C6F4;
        background-color: #10042F;
        margin-top: 10px;
        white-space: nowrap;
    }
    #filterButton h4 {
        font-size: 19px;
        padding-top: 3px;
        font-weight: 600;
    }
    .filtersection {
        display: none;
        position: absolute;
        top: 45px;
    }
    .filtersection.show {
        display: flex;
        justify-content: center;
    }
    .filtform {
        margin-top: 10px !important;
    }
    #dropdownMenuButton {
        width: 125px;
        height: 40px;
        font-size: 19px;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
    }
    #dropdownMenuButton h5{
        font-size: 19px;
    }
    #sortbutton {
        margin-left: 0 !important;
        border-radius: 0 10px 10px 0;
    }
    #apply-filters,
    #sortbutton {
        height: 40px;
        width: auto;
        padding-top: 8px;
    }
    #apply-filters h4,
    #sortbutton h4 {
        font-size: 19px;
        font-weight: 600;
    }
    #vitaminDropdown,
    #flavourDropdown {
        width: 125px;
        height: 40px;
        font-size: 19px;
        padding: 5px;
        cursor: pointer;
    }
    #clearbutton {
        width: 50px;
        padding: 0;
        height: 30px;
        float: right;
        margin-right: 10px;
    }
    #clearbutton h5 {
        font-size: 19px;
    }
    .pagenumb h3 {
        margin-right: 20px;
    }

    /*PRODUCT PAGE STYLING*/
    .prodcard {
        margin-top: 3rem;
    }
    #prodimg {
        width: 300px;
        margin-bottom: 20px;
    }
    .prodtxt {
        width: 100%;
    }
    #prodtitle {
        font-size: 49px;
        text-align: center;
    }
    .prodinfo {
        text-align: center;
        font-size: 39px;
    }
    .prodinfofl {
        text-align: center;
    }
    #proddesc h5{
        font-size: 19px;
        text-align: center;
        line-height: 25px;
    }
    .prodmininfo {
        text-align: center;
    }
    #quantbutt {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #prodbasket {
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 19px;
    }
    #prodbasket h2 {
        display: initial;
        font-weight: 600;
        margin-bottom: 0;
    }
    #prodbasket img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    #prodwishadd {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        padding: 8px;
        margin-left: 8px;
    }
    #prodwishadd img {
        height: 30px;
        width: 30px;
        margin-left: 2px;
    }
    #prodbotbut {
        justify-content: center;
    }

    /*CART STYLING*/
    .cart-item {
        margin: 40px 0;
        display: flex;
        flex-direction: row;
    }
    .img4cart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        margin: 0 4px;
    }
    #cartimg {
        width: 100%;
        height: 100%;
    }
    .cartmobileinfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        padding: 0;
    }
    .productnm {
        font-size: 39px;
        font-weight: 700;
        margin: 0;
    }
    .vitamin {
        font-size: 24px;
        color: #10042F;
        margin: 0;
    }
    .flavour {
        font-size: 24px;
        margin-bottom: 0px;
        color: #10042F;
    }
    .cartbottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .remove {
        margin: 0;
    }
    .price {
        font-size: 31px;
        margin:0;
        color: #10042F;
        text-decoration: underline;
    }
    .quantityblock {
        width: 110px;
    }
    .cartquantitybutton {
        height: 30px;
        width: 110px;
        border-radius: 10px;
    }
    .cartquantitybutton h3 {
        font-size: 31px;
    }
    .cartplus {
        height: 30px;
        width: 30px;
        border-radius: 0 10px 10px 0;
    }
    .cartminus {
        height: 30px;
        width: 30px;
        border-radius: 10px 0 0 10px;
    }
    .carttotal {
        width: 40%;
        margin: auto;
    }
    .carttotal h1 {
        font-size: 39px;
        margin: 0;
    }
    .checkout {
        width: 200px;
        margin: 8px auto;
    }
    .checkout h1 {
        font-size: 39px;
        margin: auto;
    }
    .checkout img {
        margin: 5px auto;
    }
    .checksect {
        margin-bottom: 20px;
    }
    
    /*ERROR HANDLING STYLING*/
    .ygerrtitle {
        margin-top: 1rem;
    }
    
    /*WISHLIST STYLING*/
    .wishbottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    .img4wish {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        margin: 0 2px;
    }
    .mobwishinfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        padding: 0;
    }
    .wish-items {
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #wishimg {
        width: 100%;
        height: 100%;
    }
    .wproductnm {
        font-size: 39px;
        margin: 0;
    }
    .wvitamin {
        font-size: 31px;
        margin: 0;
    }
    .wflavour {
        font-size: 24px;
        margin: 0;
    }
    .wishremove {
        margin: 0;
    }
    .wishremove img {
        width: 40px;
    }
    .mitem-price {
        font-size: 39px;
        margin: 0;
        color: #10042F;
        font-weight: 600;
        text-align: left;
    }
}   
