body {
    font-family: Zain;
    background-color:#EFE8FB;
    padding-top: 8rem;
}
/*Header Styling*/
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
nav a {
    float: left;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
    font-size: 1.5rem;
}
.toplogo img {
    float: none;
    position: relative;
    left: 370px;
    top: 10px;
}
.navright a {
    float: right;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
    font-size: 1.5rem;
    margin-right: 1rem;
}
#navacct {
    margin-top: 0.5rem;
}
#navbasket {
    background-color: #B8C6F4;
    color: #282566;
    width: 8rem;
    height: 3rem;
    text-align: left;
    margin-top: 1rem;
    font-weight: 700;
}
#navbskticon {
    margin-bottom: 8px;
    float: right;
}
/*Footer Styling*/
footer {
    width: 100%;
    background-color: #282566;
    color: #B8C6F4;
    height: 10rem;
}
.footleft {
    padding-left: 225px;
}
.footleft a {
    float: left;
    text-align: center;
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.footright {
    padding-right: 225px;
}
.footright a {
   float: right;
   text-align: center;
   margin-top: 1.5rem;
   padding-right: 2.5rem;
   text-decoration: none;
   font-weight: 700;
   color: #B8C6F4;
   font-size: 20px;
}
.btmlogo img {
   margin-top: 75px;
   margin-left: 150px;
}
/*Homepage Styling*/
.hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.hero h1 {
    font-weight: 800;
    color: #10042F;
    text-align: center;
    font-size: 4rem;
}
.hero h2 {
    text-align: center;
    color: #282566;
}
.hero button {
    text-align: center;
    background-color: #10042F;
    color: #6388EA;
    width: 250px;
    height: 75px;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
.socialtitle {
    text-align: center;
    color: #282566;
    font-weight: 600;
    padding-top: 3rem;
}
.socialproof {
    color: #282566;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
.socialproof h5 {
    text-align: center;
    padding-bottom: 1rem;
}
.socialproof h4 {
    font-weight: 700;
    margin-bottom: 5rem;
}
.newstitle {
    font-weight: 800;
    color: #10042F;
    text-align: right;
    margin-bottom: 8rem;
}
.ygtitle {
    text-align: center;
    color:#10042F;
    font-weight: 700;
    font-size: 3rem;
}
/*Account Page Styling*/
.accountinfo {
    padding-top: 2rem;
}
.accountlbl h2 {
    padding: 1rem 0rem;
    text-align: center;
    color: #10042F;
}
#acctaddrlbl {
    padding: 1rem 0rem 6rem 0rem;
}
#acctpaylbl {
    padding: 4rem 0rem 6rem 0rem;
}
.accounttxt h2 {
    text-align: center;
    color:#282566;
    padding: 1rem 0rem;
}
.acctbtn {
    margin-bottom: 4rem;
}
#wishlistbtn {
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    float: left;
    margin-left: 3rem;
}
#orderhistbtn {
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    float: right;
}
/*CONTACT STYLING*/

.ygsubtitle {
    text-align: center;
    color:#10042F;
    font-weight: 500;
    font-size: 2rem;
}
#contactsend {
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    margin-left: 10rem;
    margin-bottom: 2rem;
}
.loginbtn {
    background-color:#10042F;
    border: none;
    border-radius: 10px;
    width: 12rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    margin: 3rem;
}
/*Shop Styling*/
.searchgroup {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
#searchbar {
    width: 50%;
}
#shopsearch {
    border: thin solid #282566;
    border-radius: 10px 0px 0px 10px;
}
#searchbtn {
    background-color:#10042F;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
#searchbtn img {
    margin-top: 10px;
}
.shoporg {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
#filter {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 125px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
#sortby {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 150px;
    font-size: 20px;
    text-align: left;
}
#pagedd {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 100px;
    font-size: 20px;
    text-align: left;
}
.prodcard {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.cardimg img{
    object-fit: cover;
    background-size: 100% 100%;
    height: 250px;
    width: 250px;
}
.cardtext {
    background-color: #10042F;
    color: #B8C6F4;
    width: 250px;
    padding: 5px 0px 5px 15px;
}
.vitamin {
    font-weight: 550;
}
.flavour {
    font-style: italic;
}
.productlink {
    color: #10042F;
}
.pagenumb {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.pagenav {
    color: #10042F;
}
#prodtitle {
    text-align: left;
    color:#10042F;
    font-weight: 700;
    font-size: 3rem;
}
.prodinfo {
    color: #282566;
    font-weight: 550;
}
.prodmininfo {
    color: #282566;
}

#proddesc {
    height: 17rem;
}
#proddesc h5 {
    font-weight: 700;
}
#prodhealth {
    height: 8rem;
}
#prodquant {
    background-color: #EFE8FB;
    border: solid #282566;
    color: #282566;
    padding: 0px 10px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 500;
}
#quantminus {
    text-decoration: none;
    color: #282566;
    background-color:transparent;
    float: left;
    margin-top: 10px;
    height: 30px;
    width: 45px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantminus h1 {
    font-weight: 600;
}
#quantplus {
    color: #282566;
    border: none;
    background-color:transparent;
    float: right;
    margin-top: 8px;
    height: 40px;
    width: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantplus h1 {
    font-weight: 500;
    font-size: 3.5rem;
}
#prodbotbut {
    display: flex;
    justify-content: flex-start;
}
#prodbasket {
    background-color:#10042F;
    width: 17rem;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: #6388EA;
    margin: 2rem 0rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
#prodwishadd {
    background-color:#10042F;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: #6388EA;
    margin: 2rem 1rem;
}
#prodwish {
    font-weight: 600;
}
#prodimg {
    width: 750px;
    margin-bottom: 3rem;
}
