html {
    height: 100%;
}
body {
    font-family: Zain;
    background-color:#EFE8FB;
    margin-top: 5rem;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*Header Styling*/
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
nav a {
    float: left;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
    font-size: 1.5rem;
}
.toplogo img {
    margin-top: 10px;
    margin-left: 335px;

}
.navright a {
    float: right;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
    font-size: 1.5rem;
    margin-right: 1rem;
}
#navacct {
    margin-top: 0.5rem;
}
#navbasket {
    border: none;
    background-color: #B8C6F4;
    color: #282566;
    width: 8rem;
    height: 3rem;
    text-align: left;
    margin-top: 1rem;
    font-weight: 700;
}
#navbskticon {
    margin-bottom: 8px;
    float: right;
}
/*Footer Styling*/
footer {
    width: 100%;
    background-color: #282566;
    color: #B8C6F4;
    height: 10rem;
    margin-top: auto;
}
.footleft {
    padding-left: 225px;
}
.footleft a {
    float: left;
    text-align: center;
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.footright {
    padding-right: 225px;
}
.footright a {
   float: right;
   text-align: center;
   margin-top: 1.5rem;
   padding-right: 2.5rem;
   text-decoration: none;
   font-weight: 700;
   color: #B8C6F4;
   font-size: 20px;
}
.btmlogo img {
   margin-top: 75px;
   margin-left: 150px;
}
/*Homepage Styling*/
.hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.hero h1 {
    font-weight: 800;
    color: #10042F;
    text-align: center;
    font-size: 4rem;
}
.hero h2 {
    text-align: center;
    color: #282566;
}
.hero button {
    text-align: center;
    background-color: #10042F;
    color: #6388EA;
    width: 250px;
    height: 75px;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
.socialtitle {
    text-align: center;
    color: #282566;
    font-weight: 600;
    padding-top: 3rem;
}
.socialproof {
    color: #282566;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
.socialproof h5 {
    text-align: center;
    padding-bottom: 1rem;
}
.socialproof h4 {
    font-weight: 700;
    margin-bottom: 5rem;
}
.newstitle {
    font-weight: 800;
    color: #10042F;
    text-align: right;
    margin-bottom: 8rem;
}
.ygtitle {
    text-align: center;
    color:#10042F;
    font-weight: 700;
    font-size: 3rem;
}
/*Account Page Styling*/
.accountinfo {
    padding-top: 2rem;
}
.accountlbl h2 {
    padding: 1rem 0rem;
    text-align: center;
    color: #10042F;
}
#acctaddrlbl {
    padding: 1rem 0rem 6rem 0rem;
}
#acctpaylbl {
    padding: 4rem 0rem 6rem 0rem;
}
.accounttxt h2 {
    text-align: center;
    color:#282566;
    padding: 1rem 0rem;
}
.acctbtngroup {
   margin-top: 5rem;
   display: flex;
   justify-content: space-around;
}
.accbtn {
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color:#10042F;
    width: 12rem;
    height: 5rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: #6388EA;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;
}
#wishlistbtn {
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    float: left;
    margin-left: 3rem;
}
#orderhistbtn {
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    float: right;
}
/*CONTACT STYLING*/

.ygsubtitle {
    text-align: center;
    color:#10042F;
    font-weight: 500;
    font-size: 2rem;
}
.contactlabel {
    font-size: 1.4rem;
    color:#10042F;
    font-weight: 550;
}
.contactsend {
    border: none;
    border-radius: 10px;
    background-color:#10042F;
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #6388EA;
    margin: 2rem 0 2rem 10rem;
}

/*Login Styling*/
#remember_me {
    margin-left: 7rem;
    width: 20px;
    height: 20px;
}
.loginform {
    margin-left: 4rem;
}
.loginform input {
    background-color: #B8C6F4;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
.loginbtn {
    background-color: transparent;
    border: none;
    margin: 0 0 4rem 3rem;
    height: 6rem;
}
.loginbtn input {
    color: #6388EA;
    background-color:#10042F;
    border: none;
    border-radius: 10px;
    width: 12rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3rem;
}
.logreg {
    font-weight: 600;
    margin: 0 0 3rem 8rem;
}
/*Shop Styling*/
.searchgroup {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
#searchbar {
    width: 50%;
}
#shopsearch {
    border: thin solid #282566;
    border-radius: 10px 0px 0px 10px;
}
#searchbtn {
    background-color:#10042F;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
#searchbtn img {
    margin-top: 10px;
}
.shoporg {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
#filter {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 125px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
#sortby {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 150px;
    font-size: 20px;
    text-align: left;
}
#pagedd {
    background-color: #B8C6F4;
    color: #282566;
    border: thin solid #282566;
    width: 100px;
    font-size: 20px;
    text-align: left;
}
.prodcard {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.cardimg img{
    object-fit: cover;
    background-size: 100% 100%;
    height: 250px;
    width: 250px;
}
.cardtext {
    background-color: #10042F;
    color: #B8C6F4;
    width: 250px;
    padding: 5px 0px 5px 15px;
}
.shopvit {
    font-weight: 550;
    color: #B8C6F4; 
}
.shopflavour {
    font-style: italic;
    color: #B8C6F4; 
}
.productlink {
    color: #10042F;
}
.pagenumb {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.pagenav {
    color: #10042F;
}
/*Product Page Styling*/
#prodtitle {
    text-align: left;
    color:#10042F;
    font-weight: 700;
    font-size: 3rem;
}
.prodinfo {
    color: #282566;
    font-weight: 550;
}
.prodmininfo {
    color: #282566;
}

#proddesc {
    height: 17rem;
}
#proddesc h5 {
    font-weight: 700;
}
#prodhealth {
    height: 8rem;
}
#prodquant {
    background-color: #EFE8FB;
    border: solid #282566;
    color: #282566;
    padding: 0px 10px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 500;
}
#quantminus {
    text-decoration: none;
    color: #282566;
    background-color:transparent;
    float: left;
    margin-top: 10px;
    height: 30px;
    width: 45px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantminus h1 {
    font-weight: 600;
}
#quantplus {
    text-decoration: none;
    color: #282566;
    border: none;
    background-color:transparent;
    float: right;
    margin-top: 8px;
    height: 40px;
    width: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantplus h1 {
    font-weight: 500;
    font-size: 3.5rem;
}
#prodbotbut {
    display: flex;
    justify-content: flex-start;
}
#prodbasket {
    text-decoration: none;
    color: #6388EA;
    background-color:#10042F;
    border-radius: 5px;
    width: 18rem;
    height: 4rem;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
#prodbasket h1 {
    font-weight: 700;
}
#prodwishadd {
    background-color:#10042F;
    width: 4rem;
    height: 4rem;
    
    color: #6388EA;
    margin: 2rem 1rem;
}
#prodwish {
    font-weight: 600;
}
#prodimg {
    width: 750px;
    margin-bottom: 3rem;
}
/*Cart Styling*/
.padd {
    margin: 2rem;
}
.vitamin {
    font-weight: 550;
    color: #282566;
}
.flavour {
    font-style: italic;
    color: #282566;
}
.cartquantitybutton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cartminus {
    background-color: #282566;
    color:#B8C6F4;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cartplus {
    background-color: #282566;
    color:#B8C6F4;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cartminustxt {
    padding-top: 10px;
}
.cartplustxt {
    padding-top: 15px;
}
.price {
    font-weight: 600;
    color: #282566;
    margin-top: 2.5rem;
}
.remove {
    color: #282566;
    background-color: #EFE8FB;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.checkout {
   color:#B8C6F4;
   background-color: #10042F;
   border: none;
   border-radius: 10px;
   width: 15rem;
   height: 4rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 12px;
   margin: 7rem 0 2rem 0;
}
.checkout h1 {
    font-weight: 700;
    margin-bottom: 20px;
}
.productnm {
    color: #282566;
    font-weight: 700;
}
.carttotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
.carttotal h1 {
    font-weight: 800;
    color: #10042F;
    font-size: 3rem;
    margin-top: 8rem;
}
.backtoshop {
    display: flex;
    justify-content: center;
}
#emptycart {
    color:#B8C6F4;
    background-color: #10042F;
    border: none;
    border-radius: 10px;
    width: 15rem;
    height: 6rem;
    padding-top: 12px;
    margin-top: 7rem;
}
#emptycart h2 {
    font-weight: 700;
}
/*Registration Styling*/
.form-control-label {
    margin-top: 2rem;
    font-size: 1.75rem;
    color: #10042F;
}
.form-control {
    background-color: #B8C6F4;
    color: #282566;
}
.registerbtn {
    background-color: transparent;
    border: none;
    margin-left: 7rem;
}
.registerbtn input {
    color: #6388EA;
    background-color:#10042F;
    border: none;
    border-radius: 10px;
    width: 12rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3rem;
}