html {
    height: 100%;
}
h1 {
    font-size: 63px;
}
h2 {
    font-size: 49px;
}
h3 {
    font-size: 39px;
}
h4 {
    font-size: 31px;
}
h5 {
    font-size: 24px;
}
p {
    font-size: 19px;
}
body {
    font-family: Zain;
    background-color:#EFE8FB;
    margin-top: 5rem;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*Header Styling*/
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
nav a {
    float: left;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
}
.logo img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.navright a {
    float: right;
    text-decoration: none;
    margin-right: 1rem;
}

#navbasket {
    border: none;
    background-color: #B8C6F4;
    color: #282566;
    width: 9rem;
    height: 3rem;
    text-align: left;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
#navacct {
    border: 1px solid #B8C6F4;
    background-color: #282566;
    color: #B8C6F4;
    width: 9.5rem;
    height: 3rem;
    text-align: left;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.navright h4{
    font-weight: 600;
    margin-top: 3px;
}

/*Footer Styling*/
footer {
    width: 100%;
    background-color: #282566;
    color: #B8C6F4;
    height: 8.5rem;
    margin-top: auto;
}
.footleft,
.footright {
    display: flex;
    justify-content: space-around;
}
.footleft a {
    float: left;
    text-align: center;
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 700;
}

.footright a {
   float: right;
   text-align: center;
   margin-top: 1.5rem;
   text-decoration: none;
   font-weight: 700;
   color: #B8C6F4;
}
#btmlogo img {
   margin-top: 40px;
}
.footsocial {
    bottom: 0;
}
/*Homepage Styling*/
.hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.hero h1 {
    font-weight: 700;
    color: #10042F;
    text-align: center;
}
.hero h4 {
    text-align: center;
    color: #282566;
}
.hero a {
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #10042F;
    width: 250px;
    height: 75px;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
}
#homeshop h2 {
    color: #6388EA;
    font-weight: 600;
}

.socialtitle {
    text-align: center;
    color: #282566;
    font-weight: 550;
    padding-top: 4rem;
}
.socialproof {
    color: #282566;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
.socialproof h5 {
    text-align: center;
    padding-bottom: 1rem;
}
.socialproof h4 {
    font-weight: 700;
    margin-bottom: 5rem;
}
.newstitle {
    font-weight: 800;
    color: #10042F;
    text-align: right;
    margin-bottom: 8rem;
}
.ygtitle {
    text-align: center;
    color:#10042F;
    font-weight: 700;
}

/*Login Styling*/

#logincont {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginform input {
    background-color: #B8C6F4;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
}
#remember_me {
    margin-top: 1.5rem;
    width: 20px;
    height: 20px;
}
.loginbtn {
    border: none;
    margin: 2rem 0rem;
    height: 5rem;
    background-color:#10042F;
    border-radius: 10px;
    width: 14rem;
}
.loginbtn input {
    background-color: transparent;
    color: #6388EA;
    border: none;
    font-weight: 700;
    font-size: 49px;
    margin-top: 4px;
}
.logreg {
    font-weight: 600;
    margin: 0 0 3rem 8rem;
}

/*Registration Styling*/
.form-control-label {
    margin-top: 2rem;
    color: #10042F;
}
.form-control {
    background-color: #B8C6F4;
    color: #282566;
}
.registerbtn {
    background-color: transparent;
    border: none;
    margin-left: 7rem;
}
.registerbtn input {
    color: #6388EA;
    background-color:#10042F;
    border: none;
    border-radius: 10px;
    width: 12rem;
    font-size: 39px;
    font-weight: 700;
    margin: 3rem;
    padding: 5px 0;
}
/*Account Page Styling*/
.accountinfo {
    padding-top: 2rem;
}
.accountlbl h2 {
    padding: 1rem 0rem;
    text-align: center;
    color: #10042F;
}
#acctaddrlbl {
    padding: 1rem 0rem 6rem 0rem;
}
#acctpaylbl {
    padding: 4rem 0rem 6rem 0rem;
}
.accounttxt h2 {
    text-align: center;
    color:#282566;
    padding: 1rem 0rem;
}
.acctbtngroup {
   margin-top: 5rem;
   display: flex;
   justify-content: space-around;
}
.accbtn {
    text-decoration: none;
    border-radius: 10px;
    background-color:#10042F;
    width: 14rem;
    height: 5rem;
    color: #6388EA;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;
}
.accbtn h3 {
    font-weight: 700;
    margin-top: 10px;
}

/*CONTACT STYLING*/
.ygsubtitle {
    text-align: center;
    color:#10042F;
    font-weight: 500;
}
.contactform {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contactlabel h5{
    color:#10042F;
    font-weight: 550;
    margin-top: 1rem;
}
.contactsend {
    border: none;
    border-radius: 10px;
    background-color:#10042F;
    width: 14rem;
    font-size: 39px;
    font-weight: 700;
    color: #6388EA;
    align-self: center;
    margin: 2rem 0;
    padding: .5rem 0;
}

/*Shop Styling*/
#searchcont {
    display: flex;
    justify-content: flex-start;
}
.searchbar {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 40px;
    margin-top: 10px;
}
#shopsearch {
    border: thin solid #282566;
    border-radius: 10px 0px 0px 10px;
    font-size: 19px;
}
#searchbtn {
    background-color:#10042F;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
#clear-search {
    background-color: #282566;
    color: #EFE8FB;
    margin-top: 8px;
    margin-left: 12px;
}
.shoporg {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

/*Sort Styling */
.sortmenu {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.custom-dropdown {
    width: 175px;
    height: 40px;
    background-color: #B8C6F4;
    border: 1px solid #10042F;
    color: #10042F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-dropdown h5 {
    margin: 0;
}
.custom-dropdown:hover {
    background-color: #282566 !important;
    color: #EFE8FB !important;
}
.custom-dropdown.show{
    background-color: #6388EA !important;
    color: #EFE8FB !important;
}
.dropdown-menu {
    background-color: #B8C6F4;
    color: #10042F;
}
.dropdown-item {
    position: relative;  
}
.dropdown-item h5 {
    margin: 0;
}
.dropdown-item:hover {
    background-color: #282566;
    color: #EFE8FB !important;
}
.dropdown-item:hover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#sortbutton {
    background-color: #10042F;
    color: #B8C6F4;
    height: 40px;
    border: none;
    margin-left: 10px;
    width: 90px;
    padding-top: 2px;
}

/*Filter Styling*/
.filtersection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 1rem;
}
.sortmenu h3,
.filtersection h3 {
    font-weight: 500;
    color: #282566;
    margin: 0 10px 0 0;
    align-self: flex-end;
}
#vitaminDropdown,
#flavourDropdown {
    width: 150px;
    height: 40px;
    background-color: #B8C6F4;
    border: 1px solid #10042F;
    color: #10042F;
    font-size: 24px;
    padding: 3px 12px;
    cursor: pointer;
}
#vitaminDropdown:hover,
#flavourDropdown:hover {
    background-color: #282566;
    color: #EFE8FB !important;
}
#vitaminDropdown option,
#flavourDropdown option {
    background-color: #B8C6F4 !important;
    color: #10042F !important;
}

#apply-filters {
    background-color: #10042F;
    color: #B8C6F4;
    height: 40px;
    border: none;
    width: 90px;
    padding-top: 2px;
}
#clearfiltbtn {
    float: right;
    margin-right: 15px;
}
#clearfiltbtn button {
    background-color: #282566;
    color: #EFE8FB;
}
#filtwipe,
#searchwipe {
    margin: 0;
}
.prodcard {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.cardimg img{
    object-fit: cover;
    background-size: 100% 100%;
    height: 250px;
    width: 250px;
}
.cardtext {
    background-color: #10042F;
    color: #B8C6F4;
    width: 250px;
    padding: 5px 0px 5px 15px;
}
.shopvit {
    font-weight: 550;
    color: #B8C6F4; 
}
.shopflavour {
    font-style: italic;
    color: #B8C6F4; 
}
.productlink {
    color: #10042F;
}
.pagenumb {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.pagenav {
    color: #10042F;
}

/*Product Page Styling*/
#prodtitle {
    text-align: left;
    color:#10042F;
    font-weight: 700;
}
.prodinfo {
    color: #282566;
    font-weight: 550;
}
.prodmininfo {
    color: #282566;
    margin: 0;
}

#proddesc {
    height: 297px;
}
#proddesc h5 {
    font-weight: 600;
}
#prodquant {
    background-color: #EFE8FB;
    border: 2px solid #282566;
    color: #282566;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    width: 160px;
    height: 48px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.quantxt {
    height: 46px;
    width: 46px;
}
#quantity {
    margin: 8px 0 0 0;
}
#quantbutt {
    width: 160px;
}
#quantminus {
    text-decoration: none;
    color: #EFE8FB;
    background-color:#282566;
    border-radius: 16px 0 0 16px;
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
}
#quantminus h2 {
    align-self: center;
}
#quantplus {
    text-decoration: none;
    color: #EFE8FB;
    background-color:#282566;
    border-radius: 0 16px 16px 0;
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
}

#prodbotbut {
    display: flex;
    justify-content: flex-start;
}
#prodbotbut h3 {
    font-weight: 600;
    padding-top: 4px;
}
#prodbasket {
    text-decoration: none;
    color: #6388EA;
    background-color:#10042F;
    border-radius: 5px;
    width: 18rem;
    height: 4rem;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
#prodbasket h1 {
    font-weight: 700;
}
#prodwishadd {
    background-color:#10042F;
    width: 4rem;
    height: 4rem;
    
    color: #6388EA;
    margin: 2rem 1rem;
}
#prodwish {
    font-weight: 600;
}
#prodimg {
    width: 750px;
    margin-bottom: 3rem;
}
/*Cart Styling*/
.cart-item {
    margin: 5rem 0;
}
.padd {
    margin: 2rem;
}
.vitamin {
    font-weight: 550;
    color: #282566;
}
.flavour {
    font-style: italic;
    color: #282566;
}
.cartquantitybutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #282566;
    border-radius: 20px;
    width: 160px;
    height: 48px;
    color:#282566;
    background-color: #EFE8FB;
}
.cartquantitybutton h3 {
    margin-top: 15px;
}
.cartminus {
    background-color: #282566;
    color:#EFE8FB;
    border-radius: 16px 0 0 16px;
    border: none;
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartminus h2 {
    margin-top: 10px;
}
.cartplus {
    background-color: #282566;
    color:#EFE8FB;
    border-radius: 0 16px 16px 0;
    border: none;
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartplus h2 {
    margin-top: 15px;
}
.price {
    font-weight: 600;
    color: #282566;
    margin-top: 1.5rem;
}
.remove {
    color: #282566;
    background-color: #EFE8FB;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.checkout {
   color:#B8C6F4;
   background-color: #10042F;
   border: none;
   border-radius: 10px;
   width: 20rem;
   height: 4rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
}
.checkout h1 {
    font-weight: 700;
}
.productnm {
    color: #282566;
    font-weight: 700;
}
.carttotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.carttotal h1 {
    font-weight: 800;
    color: #10042F;
}
.backtoshop {
    display: flex;
    justify-content: center;
}
#emptycart {
    color:#B8C6F4;
    background-color: #10042F;
    border: none;
    border-radius: 10px;
    width: 15rem;
    height: 6rem;
    padding-top: 12px;
    margin-top: 7rem;
}
#emptycart h2 {
    font-weight: 700;
}

/*FAQ Styling*/
.faqsubtitle {
    text-align: center;
    margin-top: 4rem;
    color:#10042F;
}
.accordion {
    border: 1px solid #B8C6F4;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.faq-header {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
}
.faq-item {
    border: 1px solid #B8C6F4;
    color: #10042F;
}

.faq-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.faq-item:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.faq-button {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 1rem;
    background-color: #EFE8FB;
    color: #282566
}
.faq-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width, 1.25rem);
    height: var(--bs-accordion-btn-icon-width, 1.25rem);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition, transform 0.2s ease-in-out);
}

.faq-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform, rotate(-180deg));
}
.faq-body {
    background-color: #B8C6F4;
    padding: 1.25rem 1rem;
}
.faq-body a {
    color: #282566;
    font-weight: 600;
}
/*Error handling styling*/
.ygerrortext {
    text-align: center;
    margin: 4rem 0;
}
.ygerrortext a {
    color: #282566;
    font-weight: 800;
}
.ygerrtitle {
    text-align: center;
    color:#282566;
    font-weight: 700;
    margin-bottom: 4rem;
}
.item-price {
    display: none;
}
.custom-alert.alert-custom-success {
    color: #10042F;
    background-image: linear-gradient(to right, #B8C6F4, #6388EA);
    border: 1px solid transparent;
}
