{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 class="ygtitle">All About You!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="accountlbl">
                <h2>
                    First Name:
                </h2>
                <h2>
                    Last Name:
                </h2>
                <h2>
                    Email:
                </h2>
            </div>
        </div>
        <div class="col">
            <!--USERS DETAILS-->
            <div class="accounttxt">
                <h2>
                    {{ current_user.firstname }}
                </h2>
                <h2>
                    {{ current_user.lastname }}
                </h2>
                <h2>
                    {{ current_user.email }}
                </h2>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}