{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 class="ygtitle">All About You!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row accinfo">
        <div class="col-3 accpadd"></div>
        <div class="col">
            <div class="accountlbl">
                <h2>
                    First Name:
                </h2>
                <h2>
                    Last Name:
                </h2>
                <h2>
                    Email:
                </h2>
            </div>
        </div>
        <div class="col">
            <!--USERS DETAILS-->
            <div class="accounttxt">
                <h2>
                    {{ current_user.firstname }} 
                </h2>
                <h2>
                    {{ current_user.lastname }}
                </h2>
                <h2>
                    {{ current_user.email }}
                </h2>
            </div>
        </div>
        <div class="col-3 accpadd"></div>
            <div class="row acctbtngroup">
                <div class="col">
                    <a class="accbtn" role="button" href="{{ url_for('logout') }}">
                        <h3>Log Out</h3>
                    </a>
                </div>
                <div class="col">
                    <a class="accbtn" role="button" href="{{ url_for('wishlist') }}">
                        <h3>Wishlist</h3>
                    </a>
                </div>
                <div class="col">
                    <a class="accbtn" role="button">
                        <h3>Order History</h3>
                    </a>
                </div>
                <div class="col">
                    <a class="accbtn" role="button" href="{{ url_for('editaccount') }}">
                        <h3>Edit Profile</h3>
                        <img src="{{ url_for('static', filename='images/pencil.svg') }}" alt-text="Edit Profile Pencil">
                    </a>
                </div>
            </div>
    </div>
{% endblock %}