<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Yummy Gummy</title>
    {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive480.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='css/responsive767.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive991.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive1199.css') }}" rel="stylesheet">-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <!--Left Navigation-->
                <div class="col-4">
                    <nav class="navleft">
                        <a href="{{ url_for('home') }}"><h4>Home</h4></a>
                        <a href="{{ url_for('shop') }}"><h4>Shop</h4></a>    
                        <a href="/about"><h4>About</h4></a>
                        <a href="{{ url_for('contact') }}"><h4>Contact</h4></a>
                        <a href="{{ url_for('faq') }}"><h4>FAQ</h4></a>
                    </nav>
                </div>
                <!--Navigation Logo-->
                <div class="col-4 desklogo">
                    <a href="{{ url_for('home') }}" class="logo">
                        <img src="{{ url_for('static', filename='images/logotemp.png') }}" alt-text="Yummy Gummy Logo" height="65">
                    </a>
                </div>
                <div class="col-8 moblogo">
                    <a href="{{ url_for('home') }}" class="logo">
                        <img src="{{ url_for('static', filename='images/logotemp.png') }}" alt-text="Yummy Gummy Logo" height="65">
                    </a>
                </div>
                <!--Right Navigation-->
                <div class="col-4">
                    <nav class="navright">
                        <a class="btn btn-primary" href="{{ url_for('cart') }}" role="button" id="navbasket">
                            <h4>Basket</h4>
                            <img src="{{ url_for('static', filename='images/basket.svg') }}" alt-text="Shopping Basket">
                        </a>
                        <a class="btn btn-primary" href="{{ url_for('login') }}" role="button" id="navacct">
                            <h4>Account</h4>
                            <img src="{{ url_for('static', filename='images/person.svg') }}" alt-text="My Account picture" id="navperson">
                        </a>
                    </nav>
                </div>
                <!-- Hamburger Menu Icon -->
                <div class="menu-icon" id="menu-icon">
                    &#9776;
                </div>
                <!-- Mobile Cart Icon -->
                <a href="{{ url_for('cart') }}" class="mobile-cart-icon" id="mobile-cart">
                    <img src="{{ url_for('static', filename='images/basketmob.svg') }}" alt="Basket">
                </a>
            </div>
        </div>
        <!-- Mobile Navigation -->
        <nav class="mobile-nav" id="mobile-nav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="/about">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('faq') }}">FAQ</a>
            <a href="{{ url_for('login') }}">Account</a>
        </nav>
    </header>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} custom-alert alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="wrapper">
        <div class="padd"></div>
        <div class="container-fluid no-padding-container">
            {% block body %} {% endblock %}
        </div>

        <footer class="container-fluid">
            <div class="footer-content">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <nav class="footleft">
                            <a href="{{ url_for('home') }}"><h5>Home</h5></a>
                            <a href="{{ url_for('shop') }}"><h5>Shop</h5></a>    
                            <a href="/about"><h5>About</h5></a>
                        </nav>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('home') }}" class="logo" id="btmlogo">
                            <img src="{{ url_for('static', filename='images/logotemp.png') }}" alt-text="Yummy Gummy Logo" height="65">
                        </a>
                    </div>
                    <div class="col">
                        <nav class="footright">
                            <a href="{{ url_for('contact') }}"><h5>Contact</h5></a>
                            <a href="{{ url_for('faq') }}"><h5>FAQ</h5></a>
                            <a href="{{ url_for('login') }}"><h5>Account</h5></a>
                        </nav>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="footsocial">
                    <img src="{{ url_for('static', filename='images/social/twitter.svg') }}" alt-text="twitter logo">
                    <img src="{{ url_for('static', filename='images/social/instagram.svg') }}" alt-text="instagram logo">
                    <img src="{{ url_for('static', filename='images/social/tiktok.svg') }}" alt-text="tiktok logo">
                    <img src="{{ url_for('static', filename='images/social/facebook.svg') }}" alt-text="facebook logo">
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.js') }}" defer></script>
</body>
</html