{% extends 'base.html' %}

{% block body %}
    <h1 class="ygtitle">Your Cart</h1>
    <div class="padd"></div>
    <!-- Check if there are items in the cart -->
    {% if cart_items %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                {% for item in cart_items %}
                    <div class="row cart-item">
                        <div class="col-4">
                            <img src="{{ url_for('static', filename='images/yumgum.png') }}" alt="{{ item.product.name }}" height="225">
                        </div>
                        <div class="col">
                            <h2 class="productnm">{{ item.product.name }}</h2>
                            <h3 class="vitamin">{{ item.product.vitamin }}</h3>
                            <h4 class="flavour">{{ item.product.flavour }}</h4>
                            <h1 class="item-price">£{{ item.product.price }}</h1> <!--Purely for Javascript-->
                            <h2 class="price">£{{ item.product.price * item.quantity }}</h2>
                        </div>
                        <div class="col-3">
                            <button type="button" class="remove" data-item-id="{{ item.id }}">
                                <img src="/static/images/trash.svg">
                                <h3>Remove</h3>
                            </button>
                            <h4 class="prodmininfo">Quantity</h4>
                            <!-- Cart item quantity buttons -->
                            <div class="cartquantitybutton" id="cart-item-{{ item.id }}">
                                <button type="button" class="cartminus" data-cart-item-id="{{ item.id }}" data-action="decrease">
                                    <h2>-</h2>
                                </button>
                                <h3 id="quantity-{{ item.id }}">{{ item.quantity }}</h3>
                                <button type="button" class="cartplus" data-cart-item-id="{{ item.id }}" data-action="increase">
                                    <h2>+</h2>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3"></div>
        </div>
        
        <!-- CHECKOUT SECTION-->
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <div class="carttotal">
                    <h1>Total:</h1>
                    <h1 id="cart-total">£{{ cart_items|map(attribute='total_price')|sum }}</h1>
                </div>
            </div>
            <div class="col">
                <form action="{{ url_for('home') }}" method="post"> <!--CHANGE IN FINAL VERSION-->
                    <button class="checkout">
                        <h1>Checkout</h1>
                        <img src="/static/images/bag.svg">
                    </button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    {% else %}
        <h2 class="ygsubtitle">Your cart is currently empty.</h2>
        <div class="backtoshop">
            <a href="{{ url_for('shop') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="emptycart">
                <h2>Continue Shopping</h2>
            </a>
        </div>
    {% endif %}
{% endblock %}
