{% extends "base.html" %}

{% block body %}
<div class="row rowstyle rowmidstyle">
    <div class="col"></div>
    <div class="col">
        <h1 class="ygtitle">Contact Us</h1>
        <h3 class="ygsubtitle">Fancy a Chat?</h3>
    </div>
    <div class="col"></div>
</div>

<!-- CONTACT FORM -->
<div class="row rowstyle rowmidstyle">
    <div class="col"></div>
    <div class="col">
        <form method="POST" class="contactform">
            {{ form.hidden_tag() }}

            <div class="mb-3 mt-3">
                <label for="email" class="contactlabel">
                    <h5>Where can we get back to you?</h5>
                </label>
                {{ form.email(class="form-control form-control-lg", placeholder="Enter email") }}
                {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="orderno" class="contactlabel">
                    <h5>Is it about an order?</h5>
                </label>
                {{ form.order_no(class="form-control form-control-lg", placeholder="Order No (optional)") }}
            </div>

            <div class="mb-3">
                <label for="usermessage" class="contactlabel">
                    <h5>What would you like to say?</h5>
                </label>
                {{ form.message(class="form-control form-control-lg", rows="5", placeholder="Message") }}
                {% for error in form.message.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- CONTACT BUTTON -->
            {{ form.submit(class="contactsend") }}
        </form>  
    </div>
    <div class="col"></div>
</div>
{% endblock %}
