{% extends "base.html" %}

{% block body %}
<h1 class="ygtitle">FAQ</h1>
<div class="padd"></div>

<!--General Questions FAQ-->
<h2 class="faqsubtitle">General Questions</h2>
<div class="accordion" id="genfaq">
    <div class="faq-item">
      <h2 class="faq-header">
        <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqOne" aria-expanded="false" aria-controls="faqOne">
          <h4>What makes your gummy vitamins different from regular supplements?</h4>
        </button>
      </h2>
      <div id="faqOne" class="accordion-collapse collapse" data-bs-parent="#genfaq">
        <div class="faq-body">
          <h5>Our gummies are specially formulated for individuals with chronic health conditions who have difficulty absorbing or consuming nutrients in pill form. They are easy to chew, delicious, and packed with essential vitamins.</h5>
        </div>
      </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTwo" aria-expanded="false" aria-controls="faqTwo">
            <h4>Are your gummy vitamins safe for people with specific health conditions?</h4>
          </button>
        </h2>
        <div id="faqTwo" class="accordion-collapse collapse" data-bs-parent="#genfaq">
          <div class="faq-body">
            <h5>Our formulas are designed to be gentle and effective for those with chronic illnesses. However, we <strong>always</strong> recommend consulting with a healthcare provider before starting any new supplement.</h5>
          </div>
        </div>
      </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqThree" aria-expanded="false" aria-controls="faqThree">
            <h4>Do I need a prescription to purchase your vitamins?</h4>
          </button>
        </h2>
        <div id="faqThree" class="accordion-collapse collapse" data-bs-parent="#genfaq">
          <div class="faq-body">
            <h5>No prescription is needed. Our gummies are available for purchase directly through our website.</h5>
          </div>
        </div>
    </div>
</div>

<!--Ingredients & Formulation FAQ-->
<h2 class="faqsubtitle">Ingredients & Formulation</h2>
<div class="accordion" id="ingfaq">
    <div class="faq-item">
      <h2 class="faq-header">
        <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFour" aria-expanded="false" aria-controls="faqFour">
          <h4>Are your vitamins vegan and allergen-free?</h4>
        </button>
      </h2>
      <div id="faqFour" class="accordion-collapse collapse" data-bs-parent="#ingfaq">
        <div class="faq-body">
          <h5>Yes. All our gummies are vegan, gluten-free and allergen-free. If you would like information on a specific allergen please use our <a href="{{ url_for('contact') }}">Contact Us Form</a>.</h5>
        </div>
      </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFive" aria-expanded="false" aria-controls="faqFive">
            <h4>Do you use artificial colors or flavors?</h4>
          </button>
        </h2>
        <div id="faqFive" class="accordion-collapse collapse" data-bs-parent="#ingfaq">
          <div class="faq-body">
            <h5>No, we use natural colors and flavors to ensure a clean, healthy product.</h5>
          </div>
        </div>
      </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSix" aria-expanded="false" aria-controls="faqSix">
            <h4>How are your vitamins absorbed compared to pills or capsules?</h4>
          </button>
        </h2>
        <div id="faqSix" class="accordion-collapse collapse" data-bs-parent="#ingfaq">
          <div class="faq-body">
            <h5>Our gummies are designed for easy digestion and absorption, making them ideal for people with digestive issues or conditions that affect nutrient absorption.</h5>
          </div>
        </div>
    </div>
</div>

<!--Shipping & Delivery FAQ-->
<h2 class="faqsubtitle">Shipping & Delivery</h2>
<div class="accordion" id="shipfaq">
    <div class="faq-item">
      <h2 class="faq-header">
        <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqSeven" aria-expanded="false" aria-controls="faqSeven">
          <h4>Where do you ship to?</h4>
        </button>
      </h2>
      <div id="faqSeven" class="accordion-collapse collapse" data-bs-parent="#shipfaq">
        <div class="faq-body">
          <h5>At the moment, we only ship within the UK via Royal Mail.</h5>
        </div>
      </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqEight" aria-expanded="false" aria-controls="faqEight">
            <h4>When will my order ship?</h4>
          </button>
        </h2>
        <div id="faqEight" class="accordion-collapse collapse" data-bs-parent="#shipfaq">
          <div class="faq-body">
            <h5>We aim to send out every order within 3 days of it being placed however public holidays may intefere with this.</h5>
          </div>
        </div>
      </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqNine" aria-expanded="false" aria-controls="faqNine">
            <h4>How long does shipping take?</h4>
          </button>
        </h2>
        <div id="faqNine" class="accordion-collapse collapse" data-bs-parent="#shipfaq">
          <div class="faq-body">
            <h5>Shipping takes either 24 or 48 hours depending on which option you choose at checkout</h5>
          </div>
        </div>
    </div>
</div>

<!--Orders & Payments FAQ-->
<h2 class="faqsubtitle">Orders & Payments</h2>
<div class="accordion" id="orderfaq">
    <div class="faq-item">
      <h2 class="faq-header">
        <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTen" aria-expanded="false" aria-controls="faqTen">
          <h4>What payment methods do you accept?</h4>
        </button>
      </h2>
      <div id="faqTen" class="accordion-collapse collapse" data-bs-parent="#orderfaq">
        <div class="faq-body">
          <h5>We accept credit/debit cards, Paypal, Apple Pay, Google Pay and Clearpay.</h5>
        </div>
      </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqEleven" aria-expanded="false" aria-controls="faqEleven">
            <h4>Can I edit or cancel an order?</h4>
          </button>
        </h2>
        <div id="faqEleven" class="accordion-collapse collapse" data-bs-parent="#orderfaq">
          <div class="faq-body">
            <h5>Yes, orders can be changed or cancelled within 24 hours of placement. Contact us immediately if needed either through our <a href="{{ url_for('contact') }}">Contact Form</a> or by emailing yummygummycontact@gmail.com.</h5>
          </div>
        </div>
      </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqTwelve" aria-expanded="false" aria-controls="faqTwelve">
            <h4>How can I track my order?</h4>
          </button>
        </h2>
        <div id="faqTwelve" class="accordion-collapse collapse" data-bs-parent="#orderfaq">
          <div class="faq-body">
            <h5>We will email you your Royal Mail tracking code as soon as we receive it.</h5>
          </div>
        </div>
    </div>
</div>

<!--Returns & Refunds FAQ-->
<h2 class="faqsubtitle">Returns & Refunds</h2>
<div class="accordion" id="returnfaq">
    <div class="faq-item">
      <h2 class="faq-header">
        <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqThirteen" aria-expanded="false" aria-controls="faqThirteen">
          <h4>What is your return policy</h4>
        </button>
      </h2>
      <div id="faqThirteen" class="accordion-collapse collapse" data-bs-parent="#returnfaq">
        <div class="faq-body">
          <h5>You can return any unopened vitamin bottles within 30 days of receiving them.</h5>
        </div>
      </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFourteen" aria-expanded="false" aria-controls="faqFourteen">
            <h4>My order arrived damaged. Can I get a refund?</h4>
          </button>
        </h2>
        <div id="faqFourteen" class="accordion-collapse collapse" data-bs-parent="#returnfaq">
          <div class="faq-body">
            <h5>Please contact us immediately either through our <a href="{{ url_for('contact') }}">Contact Form</a> or by emailing yummygummycontact@gmail.com to discuss this.</h5>
          </div>
        </div>
      </div>
    <div class="faq-item">
        <h2 class="faq-header">
          <button class="faq-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqFifteen" aria-expanded="false" aria-controls="faqFifteen">
            <h4>How long does it take to process a refund?</h4>
          </button>
        </h2>
        <div id="faqFifteen" class="accordion-collapse collapse" data-bs-parent="#returnfaq">
          <div class="faq-body">
            <h5>We will let you know as soon as we release the refund and you should receive it within 3-5 working days after that depending on your banks processing times.</h5>
          </div>
        </div>
    </div>
</div>






{% endblock %}