{% extends "base.html" %}

{% block body %}
    <div class="row rowstyle">
        <div class="col"></div>
        <div class="col">
            <h1 class="ygtitle">Please Login</h1>
            <div class="padd"></div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row rowstyle">
        <div class="col"></div>
        <div class="col">
            <form action="" method="post" class="loginform" novalidate id="logincont">
                {{ form.hidden_tag() }}
                <h3>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </h3>
                <h3>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </h3>
                <h4>{{ form.remember_me() }} {{ form.remember_me.label }}</h4>
                <button class="loginbtn">
                    {{ form.submit() }}
                </button>
            </form>
            <h4 class="logreg">New User? <a href="{{ url_for('register') }}">Click to Register!</a></h4>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}