{% extends "base.html" %}

{% block body %}
    <div class="maincontent">
        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename='images/yumgum.png') }}" alt="{{ product.name }}" id="prodimg">
                    </div>
                    <div class="col-4">
                        <h1 id="prodtitle">{{ product.name }}</h1>
                        <h2 class="prodinfo">{{ product.vitamin }}</h2>
                        <h3 class="prodinfo">{{ product.flavour }}</h3>
                        <div id="proddesc">
                            <h4 class="prodmininfo">Product Description</h4>
                            <h5>{{ product.description }}</h5>
                        </div>
                        <h1 class="prodinfo">£{{ "%.2f"|format(product.price) }}</h1>
                        <h2 class="prodmininfo">Quantity</h2>
                        <div id="quantbutt">
                            <div id="prodquant">
                                <a href="#" id="quantminus"><h1 class="quantxt">_</h1></a>
                                <span id="quantity">1</span>
                                <a href="#" id="quantplus"><h1 class="quantxt">+</h1></a>
                            </div>
                        </div>
                        <div id="prodbotbut">
                            <a href="#" id="prodbasket" data-product-id="{{ product.id }}">
                                <h1>Add to Basket</h1>
                                <img src="{{ url_for('static', filename='images/basketcheck.svg') }}" height="45">
                            </a>
                            <button type="submit" class="btn btn-primary btn-lg" id="prodwishadd">
                                <img src="{{ url_for('static', filename='images/heart.svg') }}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
