{% extends "base.html" %}

{% block body %}
<h1 class="ygtitle">Shop</h1>
<div class="row">
    <div class="col-4">
        <div class="searchgroup">
            <div data-mdb-input-init class="form-outline" id="searchbar">
                <input type="search" id="shopsearch" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn" id="searchbtn">
                <img src="{{ url_for('static', filename='images/searchheart.svg') }}" alt="Search" id="navbskticon">
            </button>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <div class="shoporg">
            <button type="submit" class="btn" id="pagedd">Page 1</button>
            <button type="submit" class="btn" id="sortby">Sort By</button>
            <button type="submit" class="btn" id="filter">
                Filter By
                <img src="{{ url_for('static', filename='images/filter.svg') }}" alt="Filter">
            </button>
        </div>
    </div>
</div>

<!-- Product Grid -->
<div class="row">
    {% for product in products %}
    <div class="col-3">
        <div class="prodcard">
            <a href="{{ url_for('product_detail', product_id=product.id) }}" class="productlink">
                <div class="cardimg">
                    <img src="{{ url_for('static', filename='images/yumgum.png') }}" alt="{{ product.name }}" />
                </div>
                <div class="cardtext">
                    <h2>{{ product.name }}</h2>
                    <h3 class="shopvitamin">{{ product.vitamin }}</h3>
                    <h3 class="shopflavour">{{ product.flavour }}</h3>
                    <h3>£{{ "%.2f"|format(product.price) }}</h3>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
<div class="row">
    <div class="col"></div>
    <div class="col-3">
        <div class="pagenumb">
            {% if pagination.has_prev %}
                <h3><a href="{{ url_for('shop', page=pagination.prev_num) }}" class="pagenav">Previous</a></h3>
            {% endif %}
            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <h3>
                        <a href="{{ url_for('shop', page=page_num) }}" class="pagenav">{{ page_num }}</a>
                    </h3>
                {% else %}
                    <h3>...</h3>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <h3><a href="{{ url_for('shop', page=pagination.next_num) }}" class="pagenav">Next</a></h3>
            {% endif %}
        </div>
    </div>
    <div class="col"></div>
</div>

{% endblock %}
