{% extends "base.html" %}

{% block body %}
    <div class="row rowstyle">
        <div class="col"></div>
        <div class="col">
            <h1 class="ygtitle">All About You!</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row rowstyle">
        <div class="col-4"></div>
        <div class="col">
            <!--USERS DETAILS-->
            <div class="editaccounttxt">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        <h4>
                        {{ form.firstname.label(class="form-control-label") }}
                        </h4>
                        {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    <div class="form-group">
                        <h4>
                        {{ form.lastname.label(class="form-control-label") }}
                        </h4>
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
    
                    <div class="form-group">
                        <h4>
                        {{ form.email.label(class="form-control-label") }}
                        </h4>
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <button class="registerbtn">
                        {{ form.submit() }}
                    </button>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}